a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

::-webkit-scrollbar {
    background-color: black;
    width: 8px;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 3px;
}

body {
    background: #111;
    margin: 0px;
}

* {
    font-family: Fortnitefont, 'Roboto', sans-serif;
}

#search {
    /* Search box */
    margin-left: 5%;
    width: 20%;
    border: none;
    background: none;
    height: 5vh;
    color: white;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

#update-button {
    height: 1.5em;
    transition: .2s;
    border: none;
    top: .4em;
    left: 1em;
    position: relative;
    cursor: pointer;
}

#update-button:hover {
    transform: scale(1.1);
}

#update-button:active {
    transform: scale(.95);
}

#collection {
    width: 44%;
    height: 90vh;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5%;
    display: block;
    position: relative;
    z-index: 1;
}

.preview {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.state {
    position: relative;
    margin: 0;
    left: 0em;
    top: 0em;
}

.preivew-rating {
    position: absolute;
    bottom: .3em;
    right: .3em;
    text-align: left;
    z-index: 100;
    color: gold;
    text-shadow: 0px 0px 5px black;
    font-size: .9em;
    pointer-events: none;
}

.my-rating {
    position: absolute;
    left: .3em;
    top: 0em;
    text-align: left;
    z-index: 100;
    color: red;
    text-shadow: 0px 0px 5px black;
    font-size: .8em;
    pointer-events: none;
}

.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 19%;
    padding-top: 19%;
    min-width: 4em;
    z-index: 100;
    border-radius: 0px;
    margin: .5%;
    transition: all .1s;
    top: 0px;
}

#canvas {
    position: absolute;
}

.legendary-block {
    background: rgba(201, 93, 47, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(201, 93, 47, 1)), color-stop(100%, rgba(122, 60, 31, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c95d2f', endColorstr='#7a3c1f', GradientType=1);
}

.epic-block {
    background: rgba(125, 78, 201, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(125, 78, 201, 1)), color-stop(100%, rgba(59, 36, 97, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d4ec9', endColorstr='#3b2461', GradientType=1);
}

.rare-block {
    background: rgba(0, 148, 222, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 148, 222, 1)), color-stop(100%, rgba(0, 87, 130, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0094de', endColorstr='#005782', GradientType=1);
}

.uncommon-block {
    background: rgba(90, 179, 55, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(90, 179, 55, 1)), color-stop(100%, rgba(56, 107, 34, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab337', endColorstr='#386b22', GradientType=1);
}

.common-block {
    background: rgba(224, 224, 224, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(224, 224, 224, 1)), color-stop(100%, rgba(122, 122, 122, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#7a7a7a', GradientType=1);
}

.legendary {
    box-shadow: 0px 0px #632c12;
}

.legendary:hover {
    box-shadow: 0px 5px #632c12;
}

.legendary:active {
    box-shadow: 0px 0px #632c12;
}

.epic {
    box-shadow: 0px 0px #322457;
}

.epic:hover {
    box-shadow: 0px 5px #322457;
}

.epic:active {
    box-shadow: 0px 0px #322457;
}

.rare {
    box-shadow: 0px 0px #003c58;
}

.rare:hover {
    box-shadow: 0px 5px #003c58;
}

.rare:active {
    box-shadow: 0px 0px #003c58;
}

.uncommon {
    box-shadow: 0px 0px #244614;
}

.uncommon:hover {
    box-shadow: 0px 5px #244614;
}

.uncommon:active {
    box-shadow: 0px 0px #244614;
}

.common {
    box-shadow: 0px 0px #3b3b3b;
}

.common:hover {
    box-shadow: 0px 5px #3b3b3b;
}

.common:active {
    box-shadow: 0px 0px #3b3b3b;
}

.container:hover {
    top: -5px;
    z-index: 2000;
}

.container:active {
    top: 0px;
}

#inspect {
    display: block;
    padding: 0;
    position: absolute;
    height: 90vh;
    width: 45%;
    right: 5%;
    background: none;
    top: 9vh;
    border-radius: 5px;
    color: white;
}

#image-wrap {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    max-height: 30vh;
    background: #111;
}

#both-images-wrap {
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 70vh;
    height: 30vh;
}

#check {
    height: 30px;
    transform: scale(0);
    transition: all .15s;
}

.full {
    float: left;
    display: inline-block;
    width: auto;
    height: 100%;
}

#secondary {
    float: right;
    display: inline-block;
    width: auto;
    transform: scale(1.5);
    vertical-align: top;
    top: 8em;
    margin: -5em;
    position: relative;
    height: 100%;
}

#third {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    width: auto;
    height: 100%;
}

#loading_logo {
    margin: 0 auto;
    display: block;
    top: 20vh;
    position: relative;
}

#title {
    font-size: 30px;
    display: block;
    left: 10%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#score {
    float: right;
    position: relative;
    display: inline;
    padding-top: .2em;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#rating {
    font-size: 3em;
}

#outof {
    font-size: 2em;
    color: grey;
}

.star {
    width: 15%;
    max-width: 2em;
    padding-top: 1em;
    cursor: pointer;
    transition: top .1s ease;
    position: relative;
    top: 0px;
}

.star:hover {
    top: -2px;
}

.star:active {
    top: 2px;
}

#stars {
    display: inline;
}

.star:hover {}

@font-face {
    /* Import Fortnite font */
    font-family: Fortnitefont;
    src: url("fonts/fortnitefont.otf") format("opentype");
}

#stats {
    width: 200px;
    float: right;
    display: block;
    position: relative;
    text-align: right;
    right: 50px;
}

#header {
    width: 100%;
    box-shadow: 0px 5px 0px black;
    z-index: 100;
    background: rgb(39, 39, 39);
    position: relative;
    display: block;
    //border-radius: 0px 0px 5px 5px;
    margin-bottom: .3vh;
}

.header-item{
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 10px;
}

.bar {
    left: 20px;
    top: -22px;
    position: relative;
    width: 100%;
    height: 3vh;
    background: orange;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    line-height: 1.5em;
    transition: all .3s;
}

#bars {
    margin-top: 30px;
    position: relative;
    width: 40%;
    display: inline-block;
}

#comment-block {
    margin-top: 30px;
    position: relative;
    float: right;
    width: 50%;
    height: 30vh;
    background: black;
    display: inline-block;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#comments {
    height: 25vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.comment {
    overflow: hidden;
    padding: 5px;
    margin: 5px;
    padding-bottom: 13px;
    background: #111;
}

.adminComment {
    color: #f44242 !important;
}

#no-comments-here {
    color: grey;
    top: 30px;
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#comment-submission {
    overflow: hidden;
    height: 30px;
    width: 100%;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: inline-block;
}

#votes {
    position: relative;
    display: block;
    top: 2em;
}

.votes {
    display: inline-block;
    height: 60px;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.upvote {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
}

.upvote:hover {}

.downvote {
    display: block;
    height: 30px;
    transform: rotate(180deg);
}

.karma {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: -5px;
    margin-bottom: -5px;
}

.message {
    position: relative;
    width: 80%;
    margin-left: 10px;
    display: inline-block;
}

.username {
    margin-left: 10px;
    color: grey;
    position: relative;
}


#loading-main{
    color: white;
    font-size: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 30vh;
}


#loading-tips{
    color: rgb(148, 148, 148);
    font-size: 18px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 70%;
    text-align: center;
    top: 31vh;
}
