a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

::-webkit-scrollbar {
    background-color: black;
    width: 8px;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 3px;
}

body {
    background: #111;
}

* {
    font-family: Fortnitefont, 'Roboto', sans-serif;
}

#search {
    /* Search box */
    margin-left: 5%;
    width: 30%;
    border: none;
    background: none;
    height: 5vh;
    color: white;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

#update-button{
    height: 1.5em;
    transition: .2s;
    border: none;
    top: .4em;
    left: 1em;
    position: relative;
    cursor: pointer;
}

#update-button:hover{
    transform: scale(1.1);
}

#update-button:active{
    transform: scale(.95);
}

#collection {
    width: 44%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5%;
    display: block;
    position: relative;
    z-index: 1;
}

.preview {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.state{
    position: relative;
    margin: 0;
    left: 0em;
    top: 0em;
}

.preivew-rating{
    position: absolute;
    bottom: .3em;
    right: .3em; 
    text-align: left;
    z-index: 100;
    color: gold;
    text-shadow: 0px 0px 5px black;
    font-size: .9em;
    pointer-events: none;
}

.my-rating{
    position: absolute;
    left: .3em;
    top: 0em; 
    text-align: left;
    z-index: 100;
    color: red;
    text-shadow: 0px 0px 5px black;
    font-size: .8em;
    pointer-events: none;
}

.container{
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 19%;
    padding-top: 19%;
    min-width: 4em;
    z-index: 100;
    border-radius: 0px;
    margin: .5%;
    transition: all .1s;
    top: 0px;
}

.legendary{
    box-shadow: 0px 0px #632c12;
}
.legendary:hover{
    box-shadow: 0px 5px #632c12;
}
.legendary:active{
    box-shadow: 0px 0px #632c12;
}

.epic{
    box-shadow: 0px 0px #322457;
}
.epic:hover{
    box-shadow: 0px 5px #322457;
}
.epic:active{
    box-shadow: 0px 0px #322457;
}

.rare{
    box-shadow: 0px 0px #003c58;
}
.rare:hover{
    box-shadow: 0px 5px #003c58;
}
.rare:active{
    box-shadow: 0px 0px #003c58;
}

.uncommon{
    box-shadow: 0px 0px #244614;
}
.uncommon:hover{
    box-shadow: 0px 5px #244614;
}
.uncommon:active{
    box-shadow: 0px 0px #244614;
}

.common{
    box-shadow: 0px 0px #3b3b3b;
}
.common:hover{
    box-shadow: 0px 5px #3b3b3b;
}
.common:active{
    box-shadow: 0px 0px #3b3b3b;
}



.container:hover {
    top: -5px;
    z-index: 2000;
}

.container:active {
    top: 0px;
}

#inspect {
    display: block;
    padding: 0;
    position: absolute;
    height: 90vh;
    width: 45%;
    right: 5%;
    background: none;
    top: 9vh;
    border-radius: 5px;
    color: white;
}

#image-wrap {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    max-height: 30vh;
    background: #b24f21;
}

#both-images-wrap{
    position: relative;
    display: flex;
    margin: 0 auto;
    max-width: 70vh;
    height: 30vh;
}


#check{
    height: 30px;
    transform: scale(0);
    transition: all .15s;
}

.full {
    float: left;
    display: inline-block;
    width: auto;
    height: 100%;
}

#secondary{
    float: right;
    display: inline-block;
    width: auto;
    transform: scale(1.5);
    vertical-align: top;
    top: 8em;
    margin: -5em;
    position: relative;
    height: 100%;
}

#third{
    position: relative;
    margin: 0 auto;
    display: inline-block;
    width: auto;
    height: 100%;
}

#loading_logo{
    margin: 0 auto;
    display: block;
    top: 20vh;
    position: relative;
}

#title {
    font-size: 30px;
    display: block;
    left: 10%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#score {
    float: right;
    position: relative;
    display: inline;
    padding-top: .2em;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#rating {
    font-size: 3em;
}

#outof {
    font-size: 2em;
    color: grey;
}

.star {
    width: 15%;
    max-width: 2em;
    padding-top: 1em;
    cursor: pointer;
    transition: top .1s ease;
    position: relative;
    top: 0px;
}

.star:hover{
    top: -2px;
}

.star:active{
    top: 2px;
}

#stars {
    display: inline;
}

.star:hover {}

@font-face {
    /* Import Fortnite font */
    font-family: Fortnitefont;
    src: url("fonts/fortnitefont.otf") format("opentype");
}

#stats {
    width: 200px;
    float: right;
    display: block;
    position: relative;
    text-align: right;
    right: 50px;
}

#header{
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: .3vh;
}

.bar{
    left: 20px;
    top: -22px;
    position: relative;
    width: 100%;
    height: 3vh;
    background: orange;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    line-height: 1.5em;
    transition: all .3s;
}

#bars{
    margin-top: 30px;
    position: relative;
    width: 40%;
    display: inline-block;
}



#comment-block{
    margin-top: 30px;
    position: relative;
    float: right;
    width: 50%;
    height: 30vh;
    background: black;
    display: inline-block;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#comments{
    height: 25vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.comment{
    overflow: hidden;
    padding: 5px;
    margin: 5px;
    padding-bottom: 13px;
    background: #111;
}

.adminComment{
    color: #f44242 !important;
}

#no-comments-here{
    color: grey;
    top: 30px;
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}




#comment-submission{
    overflow: hidden;
    height: 30px;
    width: 100%;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: inline-block;
}




#votes{
    position: relative;
    display: block;
    top: 2em;
}


.votes{
    display: inline-block;
    height: 60px;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.upvote{
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
}

.upvote:hover{
}

.downvote{
    display: block;
    height: 30px;
    transform: rotate(180deg);
}

.karma{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: -5px;
    margin-bottom: -5px;
}

.message{
    position: relative;
    width: 80%;
    margin-left: 10px;
    display: inline-block;
}


.username{
    margin-left: 10px;
    color: grey;
    position: relative;
}