a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: grey;
}

::-webkit-scrollbar {
    background-color: black;
    width: 8px;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 3px;
}

body {
    background: #111;
    margin: 0px;
}

* {
    font-family: Fortnitefont, 'Roboto', sans-serif;
}

#search {
    /* Search box */
    margin-left: 5%;
    width: 30%;
    border: none;
    background: none;
    height: 5vh;
    color: white;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

#update-button{
    height: 1.5em;
    transition: .2s;
    border: none;
    top: .4em;
    left: 1em;
    position: relative;
    cursor: pointer;
}

#update-button:hover{
    transform: scale(1.1);
}

#update-button:active{
    transform: scale(.95);
}

#collection {
    width: 90%;
    top: 10px;
    height: 238px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5%;
    display: block;
    position: relative;
    z-index: 1;
    background-color: #111;
}

.preview {
    width: 100%;
}

.state{
    position: relative;
    margin: 0;
    left: 0em;
    top: 0em;
}

.preivew-rating{
    position: absolute;
    bottom: .3em;
    right: .3em; 
    text-align: left;
    z-index: 100;
    color: gold;
    text-shadow: 0px 0px 5px black;
    font-size: .9em;
    pointer-events: none;
}

.my-rating{
    position: absolute;
    left: .3em;
    top: 0em; 
    text-align: left;
    z-index: 100;
    color: red;
    text-shadow: 0px 0px 5px black;
    font-size: .8em;
    pointer-events: none;
}

.container{
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 24%;
    min-width: 4em;
    z-index: 100;
    border-radius: 0px;
    margin: 0.5%;
    margin-bottom: 0px;
    margin-top: 0px;
    transition: all .1s;
}

.container:hover {
    transform: scale(1.1);
    border-radius: 0px;
    z-index: 2000;
    box-shadow: 0px 0px 5px black;
}

.container:active {
    transform: scale(.99);
}

#inspect {
    display: block;
    margin-bottom: 2%;
    padding: 0px;
    position: relative;
    height: 58vh;
    width: 90%;
    right: -5%;
    background: none;
    top: 0vh;
    color: white;
}

#image-wrap {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    max-height: 30vh;
    background: #111;
}

#both-images-wrap{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 50vh;
    height: 30vh;
}


.full {
    height: 30vh;
    float: left;
    position: relative;
}

#secondary{
    margin: -6em;
    top: 5em;
    position: relative;
    float: right;
    height: 40vh;
}

#title {
    font-size: 30px;
    display: block;
    left: 10%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#score {
    float: right;
    position: relative;
    display: inline;
    padding-top: .2em;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#rating {
    font-size: 3em;
}

#outof {
    font-size: 2em;
    color: grey;
}

.star {
    width: 15%;
    max-width: 2em;
    padding-top: 1em;
    cursor: pointer;
}

#stars {
    display: inline;
}

.star:hover {}

@font-face {
    /* Import Fortnite font */
    font-family: Fortnitefont;
    src: url("fonts/fortnitefont.otf") format("opentype");
}

#stats {
    width: 82%;
    /* height: 400px; */
    top: 70px;
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: left;
    color: rgb(209, 209, 209);
}

.adminComment {
    color: #f44242 !important;
}

#check{
    height: 30px;
    transform: scale(0);
    transition: all .2s;
}

#header{
    width: 100%;
    position: relative;
    display: block;
    background: rgb(39, 39, 39);
    margin-bottom: .5vh;
}

.header-item {
    top: 50px;
    position: relative;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    left: 0px;
    transition: all .05s;
}


#sort {
}

.bar{
    left: 20px;
    top: -16px;
    position: relative;
    width: 90%;
    height: 2vh;
    background: orange;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    line-height: 1.5em;
    transition: all .3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
}

#bars{
    margin-top: 30px !important;
    margin: 0 auto;
    position: relative;
    width: 100%;
}


#votes{
    position: relative;
    display: block;
    top: 2em;
}


#comment-block{
    margin-top: 30px;
    position: relative;
    float: right;
    width: 100%;
    height: 30vh;
    background: black;
    display: inline-block;
    overflow: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

#comments{
    height: 25vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.comment{
    overflow: hidden;
    padding: 5px;
    margin: 5px;
    background: #111;
}

.username{
    color: grey;
}

#no-comments-here{
    color: grey;
    top: 30px;
    position: relative;
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}




#comment-submission{
    overflow: hidden;
    height: 30px;
    width: 100%;
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: inline-block;
}


.votes{
    display: inline-block;
    height: 60px;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.upvote{
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
}

.upvote:hover{
}

.downvote{
    display: block;
    height: 30px;
    transform: rotate(180deg);
}

.karma{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: -5px;
    margin-bottom: -5px;
}

.message{
    position: relative;
    width: 80%;
    margin-left: 10px;
    display: inline-block;
}


.username{
    margin-left: 10px;
    color: grey;
    position: relative;
}


#canvas {
    position: absolute;
}

.legendary-block {
    background: rgba(201, 93, 47, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(201, 93, 47, 1)), color-stop(100%, rgba(122, 60, 31, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(201, 93, 47, 1) 0%, rgba(122, 60, 31, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c95d2f', endColorstr='#7a3c1f', GradientType=1);
}

.epic-block {
    background: rgba(125, 78, 201, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(125, 78, 201, 1)), color-stop(100%, rgba(59, 36, 97, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(125, 78, 201, 1) 0%, rgba(59, 36, 97, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d4ec9', endColorstr='#3b2461', GradientType=1);
}

.rare-block {
    background: rgba(0, 148, 222, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 148, 222, 1)), color-stop(100%, rgba(0, 87, 130, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 148, 222, 1) 0%, rgba(0, 87, 130, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0094de', endColorstr='#005782', GradientType=1);
}

.uncommon-block {
    background: rgba(90, 179, 55, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(90, 179, 55, 1)), color-stop(100%, rgba(56, 107, 34, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(90, 179, 55, 1) 0%, rgba(56, 107, 34, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ab337', endColorstr='#386b22', GradientType=1);
}

.common-block {
    background: rgba(224, 224, 224, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(224, 224, 224, 1)), color-stop(100%, rgba(122, 122, 122, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(224, 224, 224, 1) 0%, rgba(122, 122, 122, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#7a7a7a', GradientType=1);
}


#loading-main{
    color: white;
    font-size: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}


#loading-tips{
    color: rgb(148, 148, 148);
    font-size: 18px;
    display: block;
    position: relative;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}


.inventory-button{
    background: none;
    border-radius: 2px;
    cursor: pointer;
    border-color: #e0cd57;
    position: relative;
    top: -5px;
    width: 100px;
    margin-left: 12px;
    color: #e0cd57;
    border-radius: 5px;
    padding: 5px;
    border-style: solid;
    font-size: 20px;
    transition: all .05s;
}

.inventory-button-cheked{
    background: #e0cd57;
    color: #111;
}

.inventory-button:hover{
    transform: scale(1.05);
}

.inventory-button:active{
    transform: scale(0.95);
}



#block-header{
    background: rgba(246,30,91,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(246,30,91,1) 0%, rgba(143,13,50,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(246,30,91,1)), color-stop(100%, rgba(143,13,50,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(246,30,91,1) 0%, rgba(143,13,50,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(246,30,91,1) 0%, rgba(143,13,50,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(246,30,91,1) 0%, rgba(143,13,50,1) 100%);
    background: radial-gradient(ellipse at center, rgba(246,30,91,1) 0%, rgba(143,13,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f61e5b', endColorstr='#8f0d32', GradientType=1 );
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20vh;
    max-height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 8px 0px  rgba(246,30,91,.3);
}


#overlay-master {
    display: block;
    position: absolute;
    top: -200vh;
    left: 0px;
    height: 100vh;
    width: 100%;
    transition: top .3s ease-in-out;
}

#logo {
    margin: 0 auto;
    position: relative;
    display: block;
    height: 20vh;
    max-height: 200px;
}


.btn{
    min-width: 80px;
    min-height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background: rgba(246,30,91,1);
    color: #111;
    box-shadow: 0px 3px 0px rgba(246,30,91,.3);
    margin-top: 0px;
    transition: margin-top .1s box-shadow .1s;
    zoom: 1.25;
}

.btn:hover{
    margin-bottom: 2px;
    box-shadow: 0px 5px 0px rgba(246,30,91,.3);
}


#close-button{
    position: absolute;
    bottom: 5px;
    right: 5px;
}


.arrow{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15%;
    z-index: 99999;
}

.standing-profile{
    height: 40px;
    position: absolute;
    margin-left: 2px;
}


.shop-icon{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 15%;
    z-index: 99999;
}


#selection-items{ 
    position: relative;
    display: block;
}

.selection-button{
    padding: none;
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    background: #cf2445;
    border: none;
    font-size: 20px;
    transition: .05s all;
    cursor: pointer;
    color: #111;
}

.selection-button:hover{
    background: #111;
    color: #cf2445;
}


#news-button{
    float: left;
}

#options-button{
    float: right;

}

#selection-items{ 
    position: relative;
    display: block;
}

.selection-button{
    padding: none;
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    height: 30px;
    background: #cf2445;
    border: none;
    font-size: 20px;
    transition: .05s all;
    cursor: pointer;
    color: #111;
}

.selection-button:hover{
    background: #111;
    color: #cf2445;
}


#news-button{
    float: left;
}

#options-button{
    float: right;

}

.news-image{
    width: 100%;
}


#username{
    border: none;
    height: 20px;
    padding: 5px;
}

.news-title{
    display: block;
    margin: 0 auto;
    width: 95%;
    font-size: 25px;
    color: white;
}

.news-message{
    display: block;
    margin: 0 auto;
    width: 95%;
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
}

#overlay-contents{
    overflow-x: hidden;
    overflow-y: auto;
    display:block;
    height: 400px;
    width: 100%;
}


/* Overlay */

#overlay-block {
    min-height: 620px;
    top: 5vh;
    width: 90%;
    max-width: 700px;
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 1000;
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    background: #111;
}

#full-icon-button{
    height: 30px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: all .1s;
    cursor: pointer;
    opacity: .5;
}


#full-icon-button:hover{
    bottom: 17px;
    opacity: 1;
}

#full-icon-button:active{
    bottom: 13px;
    opacity: .5;
}

#fullscreen-overlay-master{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 80%;
}

#fullscreen-block{
    display: block;
    position: absolute;
    top: 30px;
    left: 0px;
    background: rgba(0,0,0,0.98);
    width: 100%;
    z-index: 99999999;
    visibility: hidden;
    padding-bottom: 20px;
}

#fullscreen-container{
    position: relative;
    display: block;
}

.fullscreen-viewer{
    width: 50%;
    margin-top: 50px !important;
    position: relative;
    margin: 0 auto;
    position: relative;
}

.fullscreen-viewer-split{
    width: 90%;
    margin-left: 5% !important;
    margin-top: 5% !important;
    position: relative;
    margin: 0 auto;
    position: relative;
    display: block;
}

.fullscreen-img{
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
}

#close-fullscreen{
    font-size: 20px;
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 3.333% !important;
}


.right-bar{
    float: right;
    top: 1.45vh;
    right: 80px;
    position: relative;
    margin-left: 20px;
}