a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

::-webkit-scrollbar {
    background-color: black;
    width: 8px;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    border-radius: 3px;
}

body {
    background: #111;
}

* {
    font-family: Fortnitefont, 'Roboto', sans-serif;
}

#search {
    /* Search box */
    margin-left: 5%;
    width: 30%;
    border: none;
    background: none;
    height: 5vh;
    color: white;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

#update-button{
    height: 1.5em;
    transition: .2s;
    border: none;
    top: .4em;
    left: 1em;
    position: relative;
    cursor: pointer;
}

#update-button:hover{
    transform: scale(1.1);
}

#update-button:active{
    transform: scale(.95);
}

#collection {
    width: 44%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 5%;
    display: block;
    position: relative;
    z-index: 1;
}

.preview {
    width: 100%;
}

.state{
    position: relative;
    margin: 0;
    left: 0em;
    top: 0em;
}

.preivew-rating{
    position: absolute;
    bottom: .3em;
    right: .3em; 
    text-align: left;
    z-index: 100;
    color: gold;
    text-shadow: 0px 0px 5px black;
    font-size: .9em;
    pointer-events: none;
}

.my-rating{
    position: absolute;
    left: .3em;
    top: 0em; 
    text-align: left;
    z-index: 100;
    color: red;
    text-shadow: 0px 0px 5px black;
    font-size: .8em;
    pointer-events: none;
}

.container{
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 19%;
    min-width: 4em;
    z-index: 100;
    border-radius: 0px;
    margin: .5%;
    transition: all .1s;
}

.container:hover {
    transform: scale(1.1);
    border-radius: 0px;
    z-index: 2000;
    box-shadow: 0px 0px 5px black;
}

.container:active {
    transform: scale(.99);
}

#inspect {
    display: block;
    padding: 0;
    position: absolute;
    height: 90vh;
    width: 45%;
    right: 5%;
    background: none;
    top: 6vh;
    border-radius: 5px;
    color: white;
}

#image-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-height: 30vh;
    background: #b24f21;
}

.full {
    height: 25vh;
    margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 5px;
}

#title {
    font-size: 30px;
    display: block;
    left: 10%;
    padding-top: .5em;
    padding-bottom: .5em;
}

#score {
    float: right;
    position: relative;
    display: inline;
    padding-top: .2em;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#rating {
    font-size: 3em;
}

#outof {
    font-size: 2em;
    color: grey;
}

.star {
    width: 15%;
    max-width: 2em;
    padding-top: 1em;
    cursor: pointer;
}

#stars {
    display: inline;
}

.star:hover {}

@font-face {
    /* Import Fortnite font */
    font-family: Fortnitefont;
    src: url("fonts/fortnitefont.otf") format("opentype");
}

#stats {
    width: 200px;
    right: 1em;
    bottom: 1em;
    position: absolute;
    text-align: right;
}

.bar{
    left: 20px;
    top: -22px;
    position: relative;
    width: 100%;
    height: 3vh;
    background: orange;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    line-height: 1.5em;
    transition: all 1s;
}

#bars{
    margin-top: 30px;
    position: relative;
    width: 90%;
}


#votes{
    position: relative;
    display: block;
    top: 2em;
}
